:root {
  --color-primary: #ffffff;
  --color-secondary: #140038;
  --color-input-bg: #f9f9f9;
  --color-button-text: #ffffff;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.homepage-wrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--color-primary);
}

/* .MuiPaper-root {
  background-color: var(--color-primary) !important;
  color: var(--color-secondary) !important;
  box-shadow: none !important;
  padding: 15px 5px !important;
} */

.MuiPaper-root {
  box-shadow: none !important;
}

.MuiToolbar-root {
  padding: 0 16px 0 8px !important;
}

.MuiTypography-root {
  color: var(--color-secondary);
}

.MuiTextField-root input,
.MuiInputLabel-root,
.MuiSelect-select {
  color: var(--color-secondary) !important;
}

.MuiOutlinedInput-root {
  background-color: var(--color-input-bg);  
}

.MuiOutlinedInput-notchedOutline {
  border-color: var(--color-secondary) !important;
}

.MuiInputBase-input {
  color: var(--color-secondary) !important;
}

.MuiSelect-icon {
  color: var(--color-secondary) !important;
}

.MuiButton-root {
  background-color: var(--color-secondary) !important;
  color: var(--color-button-text) !important;
}

/* .MuiMenu-paper {
  border: 1px solid var(--color-secondary);
  background-color: var(--color-primary) !important;
  color: var(--color-secondary) !important;
} */

/* Dropdown list */
.MuiMenu-list {
  background-color: var(--color-primary) !important;
  color: var(--color-secondary) !important;
}

/* Dropdoen list items */
.MuiMenuItem-root:hover {
  background-color: var(--color-secondary) !important;
  color: var(--color-primary) !important;
}

/* .Mui-selected {
  background-color: var(--color-secondary) !important;
  color: var(--color-primary) !important;
} */

.MuiDateCalendar-root {
  border: 2px solid var(--color-secondary);
  border-radius: 4px;
}

.MuiPickersDay-today {
  border: 1px solid var(--color-secondary) !important;
}

.MuiDialog-paper {
  background-color: var(--color-primary) !important;
  color: var(--color-secondary) !important;
  padding: 15px !important;
}

.MuiAlert-root {
  background-color: var(--color-secondary) !important;
  color: var(--color-button-text) !important;
}

.MuiCheckbox-root{
  color: #130037 !important;
}

.MuiChip-avatar{
  margin-left: -5px !important;
  height: 30px !important;
  width: 30px !important;
}

/* Remove arrows from number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}


/* Date range picker */
.rdrCalendarWrapper {
  background-color: white;
  color: #130037;
  border-radius: 16px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
}

.rdrSelected,
.rdrInRange,
.rdrStartEdge,
.rdrEndEdge {
  background: var(--color-secondary) !important;
  color: white !important;
}

.rdrMonthAndYearPickers select,
.rdrWeekDays span,
.rdrDayNumber span {
  color: var(--color-secondary);
  font-weight: bold;
}

.rdrMonthAndYearWrapper {
  background-color: var(--color-primary);
  border-radius: 12px 12px 0 0;
  padding: 8px;
}

.rdrDayToday .rdrDayNumber span:after {
  background: var(--color-secondary);
}

.rdrDateDisplayItem input {
  color: var(--color-button-text);
}

.rdrDateDisplayItem {
  background-color: var(--color-secondary);
  border: none;
  box-shadow: none;
}

.rdrDayNumber {
  color: var(--color-primary) !important;
}

.rdrDay>* {
  color: var(--color-secondary) !important;
}

.rdrInputRange {
  display: none;
}

.rdrDefinedRangesWrapper {
  display: flex;
  justify-content: space-between;
  place-items: center;
  width: 110px;
}

.rdrCalendarWrapper {
  box-shadow: none;
}

.rdrStaticRangeLabel {
  color: var(--color-secondary);
}

@media (max-width: 600px) {
  .rdrDefinedRangesWrapper {
    display: none !important;
  }
  .MuiDialog-paper{
    padding: 5px !important;
  }
}